.col-md-10.mx-auto
  .card
    .card-header
      %h3.card-title= @message.title
      .text-muted
        = time_ago_in_words(@message.created_at)
        ago

    .card-body
      %p.card-text= @message.description
      %ul.nav.flex-column
      .row
        .col-12.d-flex
          .btn-group.ml-auto
            = link_to "Back", root_path, class: "btn btn-light"
            = link_to "Fix", edit_message_path(@message), class: "btn btn-info"
            = link_to "Delete", @message, method: :destroy, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
