.card.mb-3
  .card-body
    %p.card-text= comment.content

  .card-footer.text-muted
    .row
      .col.text-muted
        By
        = comment.user.email
        | Posted
        = time_ago_in_words(comment.created_at)
        ago
      - if comment.user_id == current_user.id
        .col-md-3
          .btn-group.btn-block
            = link_to "Edit", edit_message_comment_path(comment), class: "btn btn-primary w-50"
            = link_to "Destroy", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger w-50"
